host: http://localhost:8000
static_url: http://localhost:8000/static/
smtp:
  host: smtp.mailtrap.io 
  port: 465
  username: dcc6fb759e1d26
  password: b0cc54be295cb2
  use_tls: true
  sent_from: alerts@yourdomain.com